.project-section{
    display:flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap:wrap;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    
}

.projects{
    display:flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap:wrap;
    margin: 20px;
    padding: 20px;
    /* border: 1px solid red; */
    
}

/* .project{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    padding: 20px;
    gap: 20px;
    margin: 20px;
} */

.project .card{
    width:20rem;
    height: 30rem;
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: white;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    /* border: 1px solid red; */

}
.project .card img{
    width:100%;
    height: 150px;
    padding: 2px;
}

.card p{
    padding: 2px;
    text-align: justify;
    font-size: 1rem;
    font-weight: 300;
    color: #000;
    height: 190px;
}

.card .card-title{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 2px;
}

.card a{
    width: 100%;
}