.skills{
    width: 100%;
    height: 100%;
    background-color:rgb(218, 212, 205);
    color: #000; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    flex-wrap: wrap;
}

h2{
    font-size: 3rem;
    text-align: center;
}

.skills h1{
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 3px;
    color: #000;
    text-align: center;
    padding: 1rem;
}

.skills__container__left{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}

.section{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    /* border: 1px solid red; */
    background-color: #001524;
    border-radius: 10px;
    width: 30%;
    color: white;
}


.section .skill{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 5px;
}

.skill img{
    width: 50px;;
    height: 50px;
    padding: 5px;
    border-radius: 50%;
}

.skill h2 {
    font-size: 2rem;
    font-weight: 300;
    color: white;
    text-align: center;
    padding: 6px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li{
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.section ul li:hover{
    background-color: #0275d8;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .skills {
      flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .skills__container__left{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .section{
        width: 100%;
        margin: 5px;
        padding: 10px;
    }
    .skill img{
        width: 40px;;
        height: 40px;
    }
    .skill h2 {
        font-size: 1.5rem;
        font-weight: 300;
        color: white;
        text-align: center;
        padding: 6px;
    }
  }
