.contenu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 10px;
    padding: 10px;
    background-color: #001524;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact a{
    text-decoration: none;
    color: #001524;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 1em;
    padding: 0.5em 1em;
}

.contact a:hover{
    color: #fff;
    background-color: #0275d8;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.contact a:active{
    color: #fff;
    background-color: #0275d8;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.contact a:focus{
    color: #fff;
    background-color: #0275d8;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.contact a:visited{
    color: #fff;
    background-color: #0275d8;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.email{
    margin-top: 200px;
}
.email a{
    color: #fff;
    font-size: .5em;
    text-decoration: none;
    padding: 12px;
}

/* .email a:hover{
    color: #fff;
    background-color: none;
    border-radius: 5px;
    margin: 20px;
    transition: all 0.2s ease-in-out;
} */

