.navbar{
        box-shadow: 0 0 10px 0 rgba(128, 123, 123, 0.2);
        
}
.navbar img{
        width: 90px;
        height: 50px;
        margin: 0 50px;     
}

.navbar-nav .nav-item .nav-link{
        color: #000;
        font-size: 1.2rem;
        font-weight: 500;
        padding: 1rem 1rem;
        margin: 10px;
}

.navbar-nav .nav-item .nav-link:hover{
        color: #000;
        background-color: #0275d8;
        border-radius: 5px;
        transition: all 0.2s ease-in-out;
}

.navbar .navbar-toggler:focus{
        outline: none;
        box-shadow: none;
    }

@media (min-width: 992px) {
        .navbar{
                background-color: #001524;
        }
        .navbar-nav .nav-item .nav-link{
                color: #fff;
                font-size: 1.2rem;
                font-weight: 500;
                padding: 0.5rem 1rem;
        }
        .navbar img{
                width: 120px;
                height: 60px;
                margin: 0px 100px;     
        }

        .navbar-nav .nav-item .nav-link:hover{
                color: #fff;
                background-color: #0275d8;
                border-radius: 5px;
                transition: all 0.2s ease-in-out;
        }
      }
    